html {
	height: 100%;
	width: 100%;
}

body {
	font-family: "Poppins", sans-serif;
  	font-weight: 400;
  	font-style: normal;
	color: white;
	background-color: #292929;
	text-align: center;
}

a {
	color: #8ab4f8;
}